.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 20px 50px;
}

.nav-kiri a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}
.nav-kanan{
    display: flex;
}
.nav-kanan div {
    background-color:rgb(0, 204, 255);
    margin: 0px 10px 0px 10px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}
.nav-kanan div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.tengah{
    display: flex;
    justify-content: space-around;
    margin: 400px 50px 0 50px ;
}
.kiri .p1 {
    font-size: 70px;
    font-weight: bold;
    color: rgb(231, 97, 19);
}
.kiri .p2 {
    font-size: 18px;
    font-weight: 100;
}
.kanan img {
    margin-left: 250px;
    width: 70%;
}
.button-tengah{
    display: flex; 
}
.btt1{
    margin-right: 20px;
    padding: 7px 30px 7px 30px;
    border: 2px solid rgb(231, 97, 19) ;
    color: rgb(222, 224, 85);
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
}
.btt2{
    padding: 7px 30px 7px 30px;
    background-color: rgb(222, 224, 85);
    color: rgb(231, 97, 19);
    border: 2px solid rgb(231, 97, 19);
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
}